{% extends "page.html" %}

{% block head_extras %}

<meta name="description" content="Sparql EndPoint Interface.">

<!--<header class="sparql_hideme">-->
<!--    <p>{{ _('Interface SPARQL') }}</p>-->
<!--</header>-->

<!-- Sparql base CSS/JS and Jquery -->

<link rel="stylesheet" href="{% url_for_static '/public_sparql_interface/base_styles.css' %}">
<script src="{% url_for_static '/public_sparql_interface/jquery-1.9.1.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Code Mirror CSS/JS -->

<!--<link rel="stylesheet" href="{% url_for_static '/public_sparql_interface/codemirror/lib/codemirror.css' %}">-->
<!--<script src="{% url_for_static '/public_sparql_interface/codemirror/lib/codemirror.js' %}"></script>-->
<!--<script src="{% url_for_static '/public_sparql_interface/codemirror/lib/mode.sparql.js' %}"></script>-->

<!-- YASGUI CSS/JS -->
<link rel="stylesheet" href="{{ h.url_for_static('/public_sparql_interface/yasgui/yasgui-4.2.28.min.css') }}">
<link rel="stylesheet" href="{{ h.url_for_static('/public_sparql_interface/yasgui/yasqe-4.2.28.min.css') }}">

<script src="{{ h.url_for_static('/public_sparql_interface/yasgui/yasqe-4.2.28.min.js') }}"></script>
<script src="{{ h.url_for_static('/public_sparql_interface/yasgui/yasgui-4.2.28.min.js') }}"></script>


<!--<link rel="stylesheet" href="{% url_for_static '/public_sparql_interface/codemirror/themes/default.css' %}">-->

{% endblock %}


{% block breadcrumb_content %}

<li class="active"><a href="{{ h.url_for('sparql_interface.index') }}" title="{{ _('Catalog endpoints') }}">{{ _('SPARQL Endpoint') }}</a></li>

{% endblock %}

{% block primary %}

<header class="sparql_hideme">
    <p>{{ _('SPARQL Endpoint') }}</p>

</header>


<div id="sparql_point_block">
    <h1> SPARQL Editor  </h1>
<div class="control-group control-full" {% if h.sparql_hide_endpoint_url() %} style="display:none; " {% endif %}>
       <h4> TEST PURPOSES ONLY</h4>
       <p> <b> Current SPARQL Server: </b> <a href="{{ h.sparql_endpoint_url() }}">{{ h.sparql_endpoint_url() }} </a> </p>
           <input id="field-sparql-server" type="hidden" name="sparql-server" value="{{h.sparql_endpoint_url()}}"
                  placeholder="{{ _('Add the URL of the SPARQL service. For example:') }} {{h.sparql_endpoint_url()}}" >
   </div>

    <br>

    <h4> Sample queries </h4>
<button type="submit" name="" id="title_with_inchi" class="sample-query-button">
    Title & Description
</button>
    <button type="submit" id="fed_query_wiki_data" class="sample-query-button">
        Federated Query with Wiki Data
    </button>

    <button type="submit" id="nr_of_datasets" class="sample-query-button">
       Number of Datasets
    </button>

    <br>



<br><br>
<label class="control-label" for="field-sparql-server">{{ _('SPARQL Query') }}</label> <abbr
        title="SPARQL Endpoint"></abbr>
    <br>
    <br>

    <div class="container-yasgui">
        <div class="mt-2" id="yasgui"></div>
            <textarea id="fetched_hash_query_text" style="display:none;">{{ query_hash }}</textarea>
        {% snippet 'sparql_interface/snippets/sample_query.html' %}

    </div>

    <br>

    <button title="copy to clipboard" id="saveQuery" class="save-query-button" >{{ _('Save Query') }}</button>

</div>



    <div id="sparql_link_query" class="control-group control-full">
        <label class="control-label" for="field-link-sparql-server-query">{{ _('Permanent links') }}</label>

        <br>

        <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank"
                    id="go_to_link_query_json">{{ _('JSON Format') }}<i
                        class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below')
                }})</b></small><br>
        <div class="controls">
            <input id="field-link-sparql-server-query_json" type="text" name="sparql-server-query" value=""
                placeholder="">
        </div>

        <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank"
                    id="go_to_link_query_turtle">{{ _('TURTLE Format') }}<i
                        class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below')
                }})</b></small><br>
        <div class="controls">
            <input id="field-link-sparql-server-query_turtle" type="text" name="sparql-server-query" value=""
                placeholder="">
        </div>

        <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank"
                    id="go_to_link_query_csv">{{ _('CSV Format') }}<i
                        class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below')
                }})</b></small><br>
        <div class="controls">
            <input id="field-link-sparql-server-query_csv" type="text" name="sparql-server-query" value=""
                placeholder="">
        </div>

        <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank"
                    id="go_to_link_query_query">{{ _(' Permanent Link for this Query (To save your Query)') }}<i
                        class="icon-link"></i></a></abbr></small>


    </div>
    <br>


{% endblock %}


{% block secondary %}{% endblock %}


{% block scripts %}
{{ super() }}

{% set current_url = request.environ.CKAN_CURRENT_URL %}

<script src="{% url_for_static '/public_sparql_interface/base.js' %}"></script>


<script type="text/javascript">

    $(document).ready(function() {
    const yasguiContainer = document.getElementById('yasgui');  // Make sure you have a <div id="yasgui">

    // Initialize Yasgui
    const yasgui = new Yasgui(yasguiContainer, {
        requestConfig: {
            endpoint: "{{ h.sparql_endpoint_url() }}",
             endpointInput: false
        },
        showControlBar: false
    });


});

</script>


{% endblock %}

