{% extends "page.html" %}

{% block head_extras %}

<meta name="description" content="Sparql EndPoint Interface.">

<header class="sparql_hideme">
    <p>{{ _('Interface SPARQL') }}</p>
</header>

<!-- Sparql base CSS/JS and Jquery -->

<link rel="stylesheet" href="{% url_for_static '/public_sparql_interface/base_styles.css' %}">
<script src="{% url_for_static '/public_sparql_interface/jquery-1.9.1.min.js' %}"></script>

<!-- Code Mirror CSS/JS -->

<link rel="stylesheet" href="{% url_for_static '/public_sparql_interface/codemirror/lib/codemirror.css' %}">
<script src="{% url_for_static '/public_sparql_interface/codemirror/lib/codemirror.js' %}"></script>
<script src="{% url_for_static '/public_sparql_interface/codemirror/lib/mode.sparql.js' %}"></script>
<link rel="stylesheet" href="{% url_for_static '/public_sparql_interface/codemirror/themes/default.css' %}">

{% endblock %}

{% block breadcrumb_content %}

<li class="active"><a href="{{ h.url_for('sparql_interface.index') }}" title="{{ _('Catalog endpoints') }}">{{ _('SPARQL Endpoint') }}</a></li>

{% endblock %}

{% block primary %}

<header class="sparql_hideme">
    <p>{{ _('SPARQL Endpoint') }}</p>
</header>
{% set sdm_tib_covid = 'https://labs.tib.eu/sdm/covid19kg/sparql' %}
<div id="sparql_point_block">

    <h1>{% trans %}Editor SPARQL{% endtrans %}</h1>

   <div class="control-group control-full" {% if h.sparql_hide_endpoint_url() %} style="display:none; " {% endif %}>
<!--       <label class="control-label" for="field-sparql-server">{{ _('SPARQL Endpoint') }}</label>-->
<!--       <div class="controls">-->
       <p> Example queries to test from <a href="{{ sdm_tib_covid }}"> SDM-TIB Knowledge4COVID-19 KG </a> </p>
       <p> SHOULD BE REMOVED</p>
           <input id="field-sparql-server" type="hidden" name="sparql-server" value="{{ sdm_tib_covid }}"
                  placeholder="{{ _('Add the URL of the SPARQL service. For example:') }} {{h.sparql_endpoint_url()}}" >
<!--                  value="{{h.sparql_endpoint_url()}}"-->
   </div>

<br><br>

   <div id="test_sparql" class="sparql_hideme"></div>

    <label class="control-label" for="field-sparql-server">{{ _('SPARQL Query') }}</label> <abbr
        title="SPARQL Endpoint"></abbr>



    <textarea id="sparql_code" name="sparql_code" resize="both">

#{% trans %} Add here other prefixes for vocabularies that are needed {% endtrans %}
#PREFIX other vocab: <http://......

SELECT DISTINCT ?Concept WHERE {[] a ?Concept} LIMIT 200
</textarea>


    <button id="sparql_btn" class="btn" onclick="call_sparql_point_server();">{{ _('Submit Query') }}</button>

    <div id="sparql_link_query" class="control-group control-full">
        <label class="control-label" for="field-link-sparql-server-query">{{ _('Permanent links') }}</label>

        <br>

        <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank"
                    id="go_to_link_query_json">{{ _('JSON Format') }}<i
                        class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below')
                }})</b></small><br>
        <div class="controls">
            <input id="field-link-sparql-server-query_json" type="text" name="sparql-server-query" value=""
                placeholder="">
        </div>

        <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank"
                    id="go_to_link_query_turtle">{{ _('TURTLE Format') }}<i
                        class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below')
                }})</b></small><br>
        <div class="controls">
            <input id="field-link-sparql-server-query_turtle" type="text" name="sparql-server-query" value=""
                placeholder="">
        </div>

        <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank"
                    id="go_to_link_query_csv">{{ _('CSV Format') }}<i
                        class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below')
                }})</b></small><br>
        <div class="controls">
            <input id="field-link-sparql-server-query_csv" type="text" name="sparql-server-query" value=""
                placeholder="">
        </div>

        <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank"
                    id="go_to_link_query_query">{{ _(' Permanent Link for this Query (To save your Query)') }}<i
                        class="icon-link"></i></a></abbr></small>


    </div>
    <br>
    <div id="loading_image" class="span8 offset1">
        <center><img src="{% url_for_static '/public_sparql_interface/gif-load.gif' %}" alt="Loading"></center>
        <br>
        <br>
        <br>
    </div>

    <div id="sparql_results"></div>

</div>

{% endblock %}

{% block secondary %}{% endblock %}

{% block scripts %}
{{ super() }}

{% set current_url = request.environ.CKAN_CURRENT_URL %}

<!-- Base JS -->

<script src="{% url_for_static '/public_sparql_interface/base.js' %}"></script>

<script type="text/javascript">

    $(document).ready(function () {
        var sparql_query = GetURLParameter('view_code');
        if (sparql_query != "" && sparql_query != undefined) {
            editor.setValue(decodeURIComponent((sparql_query + '').replace(/\+/g, '%20')));
        }
    });

</script>

{% endblock %}